<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:render partial="Image" arguments="{_all}" />
    <h2 class="title">{data.header}</h2>
    <h3 class="subtitle">{data.subheader}</h3>
    <f:format.raw>{data.bodytext}</f:format.raw>
    <f:if condition="{data.tx_cardcontent_link}">
        <f:link.typolink parameter="{data.tx_cardcontent_link}" class="btn button">
            <f:if condition="{data.tx_cardcontent_linktext}">
                <f:then>{data.tx_cardcontent_linktext}</f:then>
                <f:else>Read more</f:else>
            </f:if>
        </f:link.typolink>
    </f:if>
</html>
