<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="item" style="width: {itemWidth}%">

        <f:if condition="{asset.link}">
    		<f:then>
    			<f:link.typolink parameter="{asset.link}" title="{asset.title}">
                    <f:render partial="Image" arguments="{_all}" />
    			</f:link.typolink>
    		</f:then>
    		<f:else>
    			<f:if condition="{data.image_zoom}">
    				<f:then>
                        <a
                            href="{f:uri.image(image:'{asset}', maxWidth:'{settings.zoomMaxWidth}', maxHeight:'{settings.zoomMaxHeight}', cropVariant:'{data.tx_cardcontent_cropratiozoom}')}"
                            class="{settings.lightboxClass}"
                            title="{f:if(condition: '{data.tx_cardcontent_showtitlezoom}', then: '{asset.properties.title}')}{f:if(condition: '{asset.properties.title} && {asset.properties.description} && {data.tx_cardcontent_showtitlezoom} && {data.tx_cardcontent_showdesczoom}', then: '<br />')} {f:if(condition: '{data.tx_cardcontent_showdesczoom}', then: '{asset.properties.description}')}"
                        >
                            <f:render partial="Image" arguments="{_all}" />
                        </a>
                        <f:comment>
                            If you want to use fluid_styled_content default clickEnlarge
        					<ce:link.clickEnlarge image="{asset}" configuration="{settings.media.popup}">
                                <f:render partial="Image" arguments="{_all}" />
        					</ce:link.clickEnlarge>
                        </f:comment>
    				</f:then>
    				<f:else>
                        <f:render partial="Image" arguments="{_all}" />
    				</f:else>
    			</f:if>
    		</f:else>
    	</f:if>
        <f:if condition="{data.tx_cardcontent_showtitle} || {data.tx_cardcontent_showdesc}">
            <f:if condition="{asset.properties.title} || {asset.properties.description}">
                <figcaption>
                    <f:if condition="{data.tx_cardcontent_showtitle} && {data.tx_cardcontent_showdesc} && {asset.properties.title}"><b></f:if>
                    <f:if condition="{data.tx_cardcontent_showtitle} && {asset.properties.title}"><f:format.raw><span class="title">{asset.properties.title -> f:format.stripTags(allowedTags: "<b><strong><br />")}</span></f:format.raw></f:if>
                    <f:if condition="{data.tx_cardcontent_showtitle} && {data.tx_cardcontent_showdesc} && {asset.properties.title}"></b></f:if>
                    <f:if condition="{data.tx_cardcontent_showtitle} && {data.tx_cardcontent_showdesc} && {asset.properties.description} && {asset.properties.title}"><br /></f:if>
                    <f:if condition="{data.tx_cardcontent_showdesc} && {asset.properties.description}"><f:format.raw><span class="desc">{asset.properties.description -> f:format.stripTags(allowedTags: "<b><strong><br />")}</span></f:format.raw></f:if>
                </figcaption>
            </f:if>
        </f:if>
    </div>
    <f:if condition="{iterator.isLast} == 0">
        <div class="space nr-{data.uid}" style="width: {spaceWidth}%;"></div>
    </f:if>
</html>
