.frame-type-cardcontent {
  background: #eee;
}
.cardcontent * {
    box-sizing: border-box;
}

.cardcontent {
    width: 100%;
    position: relative;
}

/* card */
.cardcontent img {
    width: 100%;
    height: auto;
    display: block;
}

.cardcontent .title {
    margin: 0;
    padding: 0;
}

.cardcontent .subtitle {
    margin-top: 1rem;
}

.cardcontent .text {
    margin-top: 1rem;
}
