<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="NoHeader" />
	<f:section name="Main">
		<f:variable name="imageWidthSet">{settings.imageWidth}</f:variable>
		<f:variable name="imageWidth">{imageWidthSet}</f:variable>
		<f:variable name="imageWidth_x2">{imageWidth * 2}</f:variable>
		<f:if condition="{data.tx_cardcontent_template} == 0">
			<div class="cardcontent template-{data.tx_cardcontent_template}">
				<f:render partial="Card" arguments="{_all}" />
			</div>
		</f:if>
		<f:if condition="{data.tx_cardcontent_template} == 1">
			<div class="cardcontent template-{data.tx_cardcontent_template}">
				<f:render partial="Card" arguments="{_all}" />
			</div>
		</f:if>
	</f:section>
</html>
